@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Merriweather:wght@300&display=swap");
body {
  background: #e0e2de;
  font-family: "VT323";
  font-size: calc(.6em + 1vw);
  
}

input {
  font-family: "VT323";
  font-size: calc(.6em + 1vw);
}
