@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Merriweather:wght@300&display=swap");
body {
  background: #192a4d;
  font-family: "VT323";
  font-size: calc(.6em + 1vw);
  
}

input {
  font-family: "VT323";
  font-size: calc(.6em + 1vw);
}

.gameBody {
  margin: 0 auto;
  background-image: radial-gradient(#aa40bf,#a329a3,#821770,#5c0a41);
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.motivation{
  margin: 0 auto;
  background: linear-gradient(to top,rgba(200,200,200),pink);
  width: 250px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.app{
  background-image: radial-gradient(#aa40bf,#a329a3,#821770,#5c0a41);
}